<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->

  <variable name="LogDir" value="logs"/>
  <variable name="LogDay" value="${date:format=yyyy-MM-dd}"/>
  
  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>

    <!--
    add your targets here
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->

    <!--
    Write events to a file with the date in the filename.
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->
    
    <!--<target xsi:type="File" name="logfile" fileName="${LogDir}/${LogDay}.log" layout="
            ${message}
            ${onexception:EXCEPTION OCCURRED\:
            ${exception:format=type,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}"
           maxArchiveFiles="11" archiveNumbering="Sequence" archiveAboveSize="1048576" archiveFileName="${LogDir}/{#}.log" />-->

    <target xsi:type="File" name="logfile" fileName="${LogDir}/${LogDay}.log"
            maxArchiveFiles="100" archiveNumbering="Sequence" archiveAboveSize="10485760" archiveFileName="${LogDir}/{#}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" encoding="utf-8"/>
  </targets>

  <rules>
    <!-- add your logging rules here -->

    <!--Write all events with minimal level of Trace (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "logfile"-->
    <logger name="*" minlevel="Trace" writeTo="logfile" />
  </rules>
</nlog>
